$o-video-is-silent: true !default;

@import "o-icons/main";
@import "o-colors/main";
@import "o-typography/main";

@if $o-video-is-silent == false {
	.o-video {
		position: relative;
		width: 100%;
		height: 100%;

		&:before {
			content: '';
			display: block;
			width: 100%;
			padding: 56.25% 0 0;
		}
	}

	.o-video__video,
	.o-video__placeholder,
	.o-video__placeholder-image,
	.o-video__ad,
	.o-video__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.o-video__placeholder,
	.o-video__overlay {
		-webkit-font-smoothing: antialiased;
		z-index: 1;
		cursor: pointer;
	}


	.o-video__title,
	.o-video__title-link {
		position: relative;
		z-index: 2;
		@include oTypographySansBold(s);
		-webkit-font-smoothing: antialiased;
		color: oColorsGetPaletteColor('white');
	}

	.o-video__title-link {
		text-decoration: none;
	}

	.o-video__title-link:hover {
		text-decoration: underline;
	}

	.o-video__description {
		@include oTypographySansBold(s);
		-webkit-font-smoothing: antialiased;
		color: oColorsGetPaletteColor('white');
		margin-top: 2px;
		position: relative;
		z-index: 2;
	}

	.o-video__play-button {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding: 0;
		background: transparent;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 50%);
		cursor: pointer;
		border: 0;

		.o-video__play-button-text {
			text-indent: -9999px;
			display: block;
		}

		.o-video__play-button-icon {
			$size : 30;
			$halfsize: #{$size/2}px;
			@include oIconsGetIcon('play', oColorsGetPaletteColor('white'), $size);
			@include oIconsBaseStyles;
			position: absolute;
			z-index: 2;
			top: 60%;
			left: 50%;
			margin-top: -$halfsize;
			margin-left: -$halfsize;
			opacity: 1;
			transition: opacity 0.1s;
			border-radius: $halfsize;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	.o-video__placeholder:after {
		content: '';
		position: absolute;
		background-color: oColorsGetPaletteColor('claret-1');
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		z-index: 0;
		transition: opacity 150ms linear;
	}

	.o-video__placeholder:hover:after {
		opacity: 0.7;
	}

	.o-video__info {
		position: absolute;
		left: 0px;
		top: 0px;
		padding: 0 10px;
	}

	.o-video__info__brand {
		@include oTypographySansBold(xs);
		background-color: oColorsGetPaletteColor('claret-1');
		color: oColorsGetPaletteColor('white');
		display: inline-block;
		padding: 2px 10px;
		vertical-align: top;
	}

	.o-video__info__duration {
		display: inline-block;
		@include oTypographySansBold(xs);
		color: oColorsGetPaletteColor('white');
		vertical-align: top;
		position: relative;
		top: 2px;
		margin-left: 10px;
	}

	.o-video__placeholder--small {
		.o-video__play-button-icon {
			$size : 40;
			$halfsize: #{$size/2}px;
			@include oIconsGetIcon('play', oColorsGetPaletteColor('white'), $size);
			top: 60%;
			left: 50%;
			margin-top: -$halfsize;
			margin-left: -$halfsize;
			border-radius: $halfsize;
			background-color: rgba(0, 0, 0, 0.5);
		}

		.o-video__info__brand {
			@include oTypographySansBold(s);
		}

		.o-video__title {
			margin-top: 7px;
			@include oTypographySansBoldSize(m);
		}

		.o-video__info__duration {
			top: 5px;
		}
	}


	.o-video__placeholder--large {

		.o-video__play-button-icon {
			$size : 60;
			$halfsize: #{$size/2}px;
			@include oIconsGetIcon('play', oColorsGetPaletteColor('white'), $size);
			top: 50%;
			left: 50%;
			margin-top: -$halfsize;
			margin-left: -$halfsize;
			border-radius: $halfsize;
			background-color: rgba(0, 0, 0, 0.5);
		}

		.o-video__info__duration {
			@include oTypographySansBold(s);
			top: 6px;
		}

		.o-video__info__brand {
			@include oTypographySansBold(m);
			padding: 4px 10px;
		}

		.o-video__title,
		.o-video__title-link {
			@include oTypographySansBold(l);
		}

		.o-video__description {
			@include oTypographySansBold(m);
		}
	}

	$o-video-is-silent: true !global;
}
