@import "../../main";

.video-container {
	width: 512px;
	min-height: 228px;
	position: relative;
	margin-bottom: 20px;
}

.video-container--small {
	width: 300px;
	min-height: 100px;
	position: relative;
}
