<link rel="stylesheet" href="//origami-build.ft.com/v2/bundles/css?modules=o-fonts@^2" />

<div class="video-container">
	<div class="o-video" data-o-component="o-video"
		data-o-video-id="4165329773001"
		data-o-video-advertising="true"
		data-o-video-placeholder="true"
        data-o-video-placeholderdisplay="brand,duration,title,description"
        data-o-video-titlelink="http://video.ft.com">
    </div>
</div>

<div class="video-container--small">
    <div class="o-video" data-o-component="o-video"
         data-o-video-id="4165329773001"
         data-o-video-advertising="true"
         data-o-video-placeholder="true"
         data-o-video-placeholderdisplay="brand,duration,title"></div>
</div>
